




{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>set</title>
    </head>

    <body>

    	<div class="row" style="">
	    	<!-------------       partie_1          ----------->
	    	<div class="col-12" style="position: fixed; height: 50px; background: rgb(0, 153, 255); display: flex; justify-content: space-between; align-items: center; position: absolute;" >
	    		<form style="width: 30%; margin-left: 50px;" method="get" action="{% block action_search_form %}{% endblock %}" >
	    			<div style="width: 100%; " >{{ search_form.search_input }}</div>
	    		</form>
	    		<div style="height: 80%; display: flex;" >
	    			<a href="{% block link_home %}{% endblock %}" style="height: 40px; width: 40px; display: block; border-radius: 50%;overflow: hidden; margin-right: 50px; border: solid white 1px;" ><img style="height: 100%;" src="{% static 'user/img/logo_set.jpg' %}"></a>
	    			{% if user %}
	    			<a id="deconnexion_button" href="{% block link_deconnexion %}{% endblock %}" style="height: 40px; width: 40px; display: block; border-radius: 50%; overflow: hidden;  margin-right: 130px; border: solid white 1px;" ><img style="height: 100%;" src="{% static 'user/img/logo_deconnexion.jpg' %}"></a>
	    			{% endif %}
	    		</div>
	    	</div>
	    	<!-------------       partie_1          ----------->
	    	<!-------------       partie_2          ----------->
	    	<div class="col-12" style="margin-top: 50px; width: 100%; min-height: 700px; " >
		    	<!-------------       partie_2_1          ----------->
		    	<div style="position: fixed; top: 50px; width: 24%; height: 100%; " >
		    		<div style=" margin: auto; width: 200px; height: 200px; display: flex; flex-direction: column; justify-content: space-around; align-items: center;" >
		    			{% if user %}
		    			<a href="{% block profil_user_account_link_image %}{% endblock %}" style=" width: 100px; height: 100px; border-radius: 50%; border: solid 1px; overflow: hidden; display: flex; justify-content: center; align-items: center; color: black;" >
		    				<img style="max-width: 70%; max-height: 70%;" src="{% block profil_cover_src %}{% endblock %}" >
		    			</a>
		    			<a href="{% block profil_user_account_link %}{% endblock %}">{{  user.nom  }}</a>
		    			{% endif %}
		    		</div>
					
		    		{% block sections_profil %}{% endblock %}
					
		    	</div>
		    	<!-------------       partie_2_1          ----------->
		    	<!-------------       partie_2_2          ----------->
		    	<div style="position: absolute; left: 24.5%; border: solid 1px; width: 51%; min-height: 100%; display: none;" ></div>
		    	<!-------------       partie_2_2          -----------> 
		    	<div style="border-left: solid rgb(212, 239, 255) 1px; border-right: solid rgb(212, 239, 255) 1px; width: 790px; min-height: 700px; margin: auto; margin-top: 10px; margin-bottom: 10px;" >
		    		{% block content %}{% endblock %}
		    	</div>
		    		
		    	<!-------------       partie_2_3          ----------->
		    	<div style="position: fixed; top: 50px; width: 24%; height: 100%; right: 0px;" >
		    		<div style="position: fixed; top: 50px; width: 24%; height: 100%; " >
			    		<div style=" margin: auto; width: 100%; height: 200px; display: flex; flex-direction: column; justify-content: center; align-items: center;" >

						{% if user %}
		    				{% block sections_user_connected %}
							{% endblock %}
						{% endif %}
						
			    		</div>
			    	</div>
		    	</div>
		    	<!-------------       partie_2_3          -----------> 
	    	</div>
	    	<!-------------       partie_2          ----------->
	    	<div class="footer" style="width: 100%; height: 70px; background: rgb(235, 235, 235); display: flex; justify-content: center; align-items: center; color: rgb(150, 150, 150);" >

	    		set-group
	    		
	    	</div>
    	</div>

    </body>
</html>

                        








