{% extends 'base_user.html' %}

{% load static %}


{% block action_search_form %}../../sets/search/{% endblock %}
{% block link_home %}../../../user/home/{% endblock %}
{% block link_deconnexion %}../../../user/deconnexion/{% endblock %}


{% block profil_user_account_link %}../../../user/profil/{{user.id}}/{% endblock %}
{% block profil_user_account_link_image %}../../../user/profil/{{user.id}}/{% endblock %}


{% block profil_cover_src %}

	{% if user.image_profil == '' %}
		{% static 'user/img/default_user_profil.png' %}
	{% else %}
		..{{user.image_profil.url}}
	{% endif %}

{% endblock %}










{% block content %}




	<!--------------------------   affichage de publications    ------------------------------------------>




		<div id="inactive_account" >
			<div style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center; color: silver; font-size: 300%;" >Compte inactif</div>
			<div style="width: 100%; text-align: center;" >un lien d'activation du compte a été envoyé à l'adresse {{user.adresse_mail}}</div>
			<div style="width: 100%; text-align: center; color: gray; margin-top: 50px;" >Cliquez sur <a href="../../authentification/envoie_activation_compte/?mail={{user.adresse_mail}}&key_activation={{user.cle_dactivation_de_compte}}">renvoyer un lien d'activation</a> pour recevoir un nouveau lien d'activation de compte à l'adresse  {{user.adresse_mail}} </div>
		</div>
		



{% endblock %}



