{% extends 'base_user.html' %}


{% load static %}





{% block action_search_form %}../../sets/search/{% endblock %}
{% block link_home %}../home/{% endblock %}
{% block link_deconnexion %}../deconnexion/{% endblock %}
{% block link_contact %}../contacts/{% endblock %}
{% block link_messages %}../messages/{% endblock %}

{% block profil_user_account_link %}../profil/{{user.id}}/{% endblock %}
{% block profil_user_account_link_image %}../profil/{{user.id}}/{% endblock %}



{% block profil_cover_src %}

	{% if user.image_profil == '' %}
		{% static 'img/default_user_profil.png' %}
	{% else %}
		..{{user.image_profil.url}}
	{% endif %}

{% endblock %}




{% block content %}


	<div style="margin: auto; width:500px; height:50px; display: flex; justify-content: center; align-items: center;" >Contacts</div>



	<!--------------------------   affichage des utilisateurs    ------------------------------------------>



		{% if contenus|length == 0 %}

			{% include 'aucun_resultat.html' %}

		{% else %}

			{% for contenu in contenus %}


				<div style="margin: auto; width:500px; min-height:80px; border: solid silver 1px; margin-bottom: 30px; border-radius: 5px;" >


					<div style="height: 80px; display: flex; justify-content: space-between;" >


						<div style=" display: flex;" >
							<div style=" height: 80px; width: 80px; display: flex; justify-content: center; align-items: center;">
								
								<a href="../profil/{{contenu.id}}/?section_profil=coordonees" style="border: solid black 1px; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; display: flex; justify-content: center; align-items: center;" >
									<img style="width: 80%;" src="{% if contenu.image_profil == '' %}{% static 'img/default_user_profil.png' %}{% else %}..{{contenu.image_profil.url}}{% endif %}">
								</a>

							</div>
							<a href="../profil/{{contenu.id}}/?section_profil=coordonees" style=" display: flex; align-items: center; overflow: hidden; color: black;" >
								{{  contenu.nom  }}
							</a>
						</div>


						<!---------------   Soi  -------------------->
						<!--  rien  -->


						<!---------------   Autres  -------------------->
						<div style=" width: 140px; display: block;" >

							<div style="display: flex; height: 100%;" >
								<!---------------   Contact  -------------------->
								<div id="manage_contact_{{ contenu.id }}" style="width: 50%; display: flex; justify-content: center; align-items: center;" >
									{%  include './delete_add_contact.html'  %}
								</div>
								<script type="text/javascript">
								    var //contain_button_manage_contact = document.querySelector('#contain_button_manage_contact_{{ contenu.id }}'),
								        manage_contact_{{contenu.id}} = document.querySelector('#manage_contact_{{ contenu.id }}');
								    manage_contact_{{contenu.id}}.addEventListener('click', function() {

								    	// envoie de la requete d'ajout/suppression contact 
										var xhr = new XMLHttpRequest();
										xhr.open('GET', '../../../user/manage_contact/' + '{{ contenu.id }}' + '/' );
										xhr.send(null);


										xhr.addEventListener('readystatechange', function()
										{ // On gère ici une requête asynchrone

									        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) 
								            { // Si le fichier est chargé sans erreur
									        	console.log(xhr.response);
									        	if ( xhr.response == 'contact_added' ) 
									        	{
									        		document.querySelector('#add_contact_{{contenu.id}}').style.display = "none";
									        		document.querySelector('#delete_contact_{{contenu.id}}').style.display = "flex";
									        	}
									        	else if ( xhr.response == 'contact_deleted' ) 
									        	{
									        		document.querySelector('#delete_contact_{{contenu.id}}').style.display = "none";
									        		document.querySelector('#add_contact_{{contenu.id}}').style.display = "flex";
									        	}

									        	//manage_contact_{{contenu.id}}.innerHTML = xhr.response;
									        }
										});

								    }, false);
								</script>


								<!---------------   Message  -------------------->
								<div style="width: 50%; display: flex; justify-content: center; align-items: center;" >
									<a href="../messages_exchanges/{{ contenu.id }}/" style="border: solid 1px; height: 40px; width: 40px; display: flex; justify-content: center; border-radius: 50%; background: ; cursor: pointer;" >
										<img style="height: 100%;" src="{% static 'img/logo_message.png' %}">
									</a>
								</div>
							</div>
							
						</div>





						
					</div>


				</div>

			{% endfor %}

		{% endif %}


{% endblock %}




{% block sections_user_connected %}


		<a style="width: 100%; height: 50px; border: solid 1px; display: flex; justify-content: center; align-items: center; border-radius: 10px; margin-top: 5px;" href="../contacts/" >
    		Contacts
    	</a>

    	<a style="width: 100%; height: 50px; border: solid 1px; display: flex; justify-content: center; align-items: center; border-radius: 10px; margin-top: 5px; color: white; background: #007bff; " href="../messages/">
			Messagerie
		</a>


{% endblock %}