




{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="google-signin-client_id" content="672134652663-5hmqa4u9pc63aigfvu5dl2r491q7v60v.apps.googleusercontent.com">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>set</title>
    </head>

    <body>

    	<div class="row" style="">
	    	<!-------------       partie_1          ----------->
	    	<div class="col-12" style="border: solid 1px; height: 50px; background: rgb(0, 153, 255); display: flex; justify-content: space-between; align-items: center;" >
	    		<form style="width: 30%; margin-left: 50px;" method="get" action="../../../sets/search/" >
	    			<div style="width: 100%; " >{{ search_form.search_input }}</div>
	    		</form>
	    		<a href="" style="height: 80%; border-radius: 50%; overflow: hidden;  margin-right: 130px; border: solid white 1px;" ><img style="height: 100%;" src="{% static 'authentification/img/logo_set.jpg' %}"></a>
	    	</div>
	    	<!-------------       partie_1          ----------->
	    	<!-------------       partie_2          ----------->
	    	<div class="col-12" style="min-height: 700px" >
		    	<!-------------       partie_2_1          ----------->
		    	<div class="col" style="margin: auto;" >
		    		<div style="height: 80%; font-size: 500%; display: flex; justify-content: center; align-items: center; color: rgb(0, 153, 255);" >
		    			Set
		    		</div>
		    		<div style="display: flex; justify-content: center; align-items: center; color: rgb(110, 110, 110); font-size: 120%;" >
		    			{% block authentification_title %}{% endblock %}
		    		</div>
		    	</div>
		    	<!-------------       partie_2_1          ----------->
		    	<!-------------       partie_2_2          ----------->
		    	{% block content %}{% endblock %}
		    	<!-------------       partie_2_2          -----------> 
	    	</div>
	    	<!-------------       partie_2          ----------->
	    	<div class="footer" style="width: 100%; height: 70px; background: rgb(235, 235, 235); display: flex; justify-content: center; align-items: center; color: rgb(150, 150, 150);" >

	    		set-group
	    		
	    	</div>
    	</div>

    	

		<script>
		  function signOut() {
		    var auth2 = gapi.auth2.getAuthInstance();
		    auth2.signOut().then(function () {
		      console.log('User signed out.');
		    });
		  }
		</script>

		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<script type="text/javascript">
			function onSignIn(googleUser) 
			{
				var profile = googleUser.getBasicProfile();
				console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
				console.log('Name: ' + profile.getName());
				console.log('Image URL: ' + profile.getImageUrl());
				console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
			}
		</script>
    



    </body>
</html>

                        








