{% extends 'base_authentification.html' %}

{% block authentification_title %}Envoie d'un lien de réinitialisation du mot de passe{% endblock %}

{% block content %}

<div class="col-10" style="margin: auto;" >

	{% if send_mail %}
	<div class="send_mail" style="width: 100%; color: green; text-align: center;" > Un lien de réinitialisation de mot de passe a été envoyé à {{user.adresse_mail}} </div>
	{% endif %}

	{% if no_user_with_mail_error %}
	<div class="no_user_with_mail_error" style="width: 100%; color: red; text-align: center;" > Aucun utilisateur ne possède l'adresse email {{ mail }}</div>
	{% endif %}

	<form class="row" style="display: flex; flex-direction: column; margin-bottom: 30px" method="post"  >
		{% csrf_token %}
		<div style="margin: auto; margin-top: 30px;" >{{ link_reset_form.email }}</div>
		<button type="submit" class="btn btn-success" style="margin: auto; margin-top: 30px;" >Envoyer le lien</button>
	</form>
	
	<div style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-bottom: 50px;" >

		<div style="display: flex; flex-direction: column;" >
			<a href="../connexion/" style="font-size: 80%; text-align: center; margin-top: 20px;" >Se connecter</a>
			<a href="../inscription/" style="font-size: 80%; text-align: center; margin-top: 20px;" >S'inscrire</a>
		</div>
	</div>
	
</div>

{% endblock %}