{% extends 'base_user.html' %}

{% load static %}






{% block action_search_form %}../../../sets/search/{% endblock %}
{% block link_home %}../../../user/home/{% endblock %}
{% block link_deconnexion %}../../../user/deconnexion/{% endblock %}
{% block link_contact %}../../../user/contacts/{% endblock %}
{% block link_messages %}../../user/messages/{% endblock %}


{% block profil_user_account_link %}../../../user/profil/{{user.id}}/{% endblock %}
{% block profil_user_account_link_image %}../../../user/profil/{{user.id}}/{% endblock %}




{% block profil_cover_src %}

    {% if user.image_profil == '' %}
        {% static 'sets/img/default_user_profil.png' %}
    {% else %}
        ../..{{user.image_profil.url}}
    {% endif %}

{% endblock %}






{% block content %}


<div style="margin: auto; width:500px; height:50px; display: flex; justify-content: center; align-items: center;" >Création d'un évènement dans le set {{  set.nom  }}</div>


<form style="margin: auto; margin-top: 50px; margin-bottom: 30px; width:700px; display: flex; flex-direction: column; align-items: center;"  method="post" action="../../creation_evenement/{{ set.id }}/" >
	{% csrf_token %}



	{% if errors %}
    <div>
      {% for key, error in errors %}
      {% autoescape off %}
        {{ error }}
      {% endautoescape %}
      {% endfor %}
    </div>
    {% endif %}




	<div id="ecran_previsualisation" style=" width:600px; height: 150px; overflow: hidden;" >
		<div style="height: 100%; min-width: 50px; margin: auto; display: flex; justify-content: center; align-items: center;" >
			<img id="image_ecran_previsualisation" style="height: 100%;" src="{% static 'sets/img/logo_evenement.png' %}">
		</div> 
	</div>
	<div style="margin-top: 25px;" >{{  create_event_form.name  }}</div>
	<div style="margin-top: 25px;" >{{  create_event_form.description  }}</div>

	<button type="submit" class="btn btn-success" style="margin: auto; margin-top: 30px;" >Créer l'évènement</button>

</form>



{% endblock %}