{% extends 'base_user.html' %}

{% load static %}






{% block action_search_form %}../../../sets/search/{% endblock %}
{% block link_home %}../../../user/home/{% endblock %}
{% block link_deconnexion %}../../../user/deconnexion/{% endblock %}
{% block link_contact %}../../../user/contacts/{% endblock %}
{% block link_messages %}../../user/messages/{% endblock %}


{% block profil_user_account_link %}../../user/profil/{{user.id}}/{% endblock %}
{% block profil_user_account_link_image %}../../user/profil/{{user.id}}/{% endblock %}





{% block profil_cover_src %}

    {% if user.image_profil == '' %}
        {% static 'sets/img/default_user_profil.png' %}
    {% else %}
        ..{{user.image_profil.url}}
    {% endif %}

{% endblock %}










{% block content %}




<div style="margin: auto; width:500px; height:50px;  display: flex; justify-content: center; align-items: center;" >Création d'un set</div>


<form style="margin: auto; margin-top: 50px; margin-bottom: 30px; width:700px; display: flex; flex-direction: column; align-items: center;"  method="post" action="../creation_set/" enctype="multipart/form-data" >
	{% csrf_token %}

    {% if errors %}
    <div>
      {% for key, error in errors %}
      {% autoescape off %}
        {{ error }}
      {% endautoescape %}
      {% endfor %}
    </div>
    {% endif %}
    
	<div id="ecran_previsualisation" style="background: silver; width:600px; height: 150px; overflow: hidden; border: solid rgb(173, 225, 255) 1px;" >
		<img id="image_ecran_previsualisation" style="width: 100%;" src="">
	</div>
	<div style="margin-top: 25px; display: none;" >{{  create_set_form.file  }}</div>
    <label for="id_file" style="color: gray; border: solid rgb(110, 209, 255) 1px; padding: 5px; margin-top: 30px; background: rgb(186, 233, 255); font-size: 90%; border-radius: 5px; cursor: pointer;" >Ajouter une image de couverture</label>
	<div style="margin-top: 25px;" >{{  create_set_form.name  }}</div>
	<div style="margin-top: 25px;" >{{  create_set_form.type_set  }}</div>
	<div style="margin-top: 25px;" >{{  create_set_form.description  }}</div>

	<button type="submit" class="btn btn-success" style="margin: auto; margin-top: 30px;" >Créer le set</button>

	<script>

    (function() {
 
        function createThumbnail(file) {
            var reader = new FileReader();
            reader.addEventListener('load', function() {
                document.querySelector('#image_ecran_previsualisation').src = this.result;
            }, false);
            reader.readAsDataURL(file);
        }

        var allowedTypes = ['png', 'jpg', 'jpeg', 'gif'],
            fileInput = document.querySelector('#id_file');
 
        fileInput.addEventListener('change', function() {

            var files = this.files,
                filesLen = files.length,
                imgType;
 
            for (var i = 0 ; i < filesLen ; i++) {
                imgType = files[i].name.split('.');
                imgType = imgType[imgType.length - 1];

                if(allowedTypes.indexOf(imgType) != -1) {
                    createThumbnail(files[i]);
                }
 
            }
 
        }, false);
 
    })();

    </script>

</form>



{% endblock %}