{% load static %}

	
	{% if contenu in users_in_contact %}
		<!------------            Bouton suppression contact   --------------->
			<div id="delete_contact_{{contenu.id}}" style="border: solid red 1px; height: 40px; width: 40px; display: flex; justify-content: center; border-radius: 50%; background: rgb(255, 163, 163); cursor: pointer;" >
				<img style="height: 100%;" src="{% static 'img/logo_contact.png' %}">
				<div style="position: absolute; margin-top: 12px; margin-right: 2px; color: red;" >-</div>
			</div>
		<!------------            Bouton ajout contact   --------------->
			<div id="add_contact_{{contenu.id}}" style="border: solid blue 1px; height: 40px; width: 40px; display: none; justify-content: center; border-radius: 50%; background: rgb(138, 208, 255); cursor: pointer;" >
				<img style="height: 100%;" src="{% static 'img/logo_contact.png' %}">
				<div style="position: absolute; margin-top: 12px; margin-right: 2px; color: blue;" >+</div>
			</div>
	{% else %}
		<!------------            Bouton ajout contact   --------------->

			<div id="add_contact_{{contenu.id}}" style="border: solid blue 1px; height: 40px; width: 40px; display: flex; justify-content: center; border-radius: 50%; background: rgb(138, 208, 255); cursor: pointer;" >
				<img style="height: 100%;" src="{% static 'img/logo_contact.png' %}">
				<div style="position: absolute; margin-top: 12px; margin-right: 2px; color: blue;" >+</div>
			</div>

			<!------------            Bouton suppression contact   --------------->
			<div id="delete_contact_{{contenu.id}}" style="border: solid red 1px; height: 40px; width: 40px; display: none; justify-content: center; border-radius: 50%; background: rgb(255, 163, 163); cursor: pointer;" >
				<img style="height: 100%;" src="{% static 'img/logo_contact.png' %}">
				<div style="position: absolute; margin-top: 12px; margin-right: 2px; color: red;" >-</div>
			</div>

	{% endif %}





<script type="text/javascript">
	


</script>






