




<div id="add_user_{{ contact.contact.id }}" style="font-size: 80%; width: 90%; background: rgb(45, 196, 85); color: white; cursor: pointer; border-radius: 5px; display: none; justify-content: center; align-items: center; border: solid rgb(45, 196, 85) 1px; height: 80%;" >
	Ajouter au set
</div> 


<div id="delete_user_{{ contact.contact.id }}" style="font-size: 80%; width: 90%; background: rgb(255, 163, 163); color: white; cursor: pointer; border-radius: 5px; display: flex; justify-content: center; align-items: center; border: solid rgb(255, 163, 163) 1px; height: 80%;" >
	Supprimer du set
</div> 