{% load static %}





<!--------------------------   affichage de publications    ------------------------------------------>


{% if contenus|length == 0 %}

	{% include 'aucun_resultat.html' %}

{% else %}

	{% for contenu in contenus %}


		<div style="margin: auto; width:500px; min-height:140px; border: solid silver 1px; margin-bottom: 30px; border-radius: 5px; background: rgb(237, 255, 255); cursor: pointer;" onmouseover="this.style.background='rgb(176, 238, 255)';" onmouseout="this.style.background='rgb(237, 255, 255)';" onclick="window.location.replace('../set/{{contenu.id}}/')" >

			<div style="width: 100%;" >
				<div style="height: 40px; width: 40px; margin: auto; border-radius: 50%; overflow: hidden; margin-top: 10px; margin-bottom: 10px;" >
					<img style="width: 100%;" src="{% static 'img/logo_set.jpg' %}">
				</div>
			</div>

			<div style=" display: flex; justify-content: center;" >
				<div style="height: 100px; width: 80%; margin: auto; overflow: hidden; margin-top: 5px; margin-bottom: 5px;" >
					<img style="width: 100%;" src="../media/{{ contenu.image_couverture }}">		
				</div>
			</div>

			<div style=" text-align: center;" > {{ contenu.nom }} </div>

			<div style=" text-align: center; font-size: 80%; color: rgb(161, 161, 161); margin: auto; margin-bottom: 10px; border: solid silver 1px; border-radius: 5px; width: 40%;"  > {{ contenu.type0 }} </div>

			<div style=" text-align: center; font-size: 80%; margin-bottom: 10px;"  > {{ contenu.description }} </div>

			<div style="margin: auto; border-top: solid 1px; color: silver; font-size: 60%; text-align: center; width: 60%; padding: 7px;" > Crée le {{ contenu.date }} </div>

		</div>

	{% endfor %}



{% endif %}






