

{% extends 'set.html' %}



{% block content_central_page %}



	{% load static %}


	<!--------------------------   creation de publication    ------------------------------------------>




	<!--------------------------   affichage de publications    ------------------------------------------>


	<div style="width: 100%; height: 500px; display: flex; justify-content: center; align-items: center; color: silver;" >

		<img src="{% static 'sets/img/logo_no_access.png' %}">
		
	</div>

{% endblock %}