





			<div id="sortir_set_{{user_set.id}}" style="font-size: 80%; width: 90%; background: rgb(255, 163, 163); color: white; cursor: pointer; border-radius: 5px; display: flex; justify-content: center; align-items: center; border: solid rgb(255, 163, 163) 1px;" >
				Sortir du set
			</div> 

			<script type="text/javascript">
				
				var sortir_set_{{user_set.id}} = document.querySelector('#sortir_set_{{ user_set.id }}');

			    sortir_set_{{user_set.id}}.addEventListener('click', function() {
			    	// envoie de la requete d'ajout/suppression contact 
					var xhr = new XMLHttpRequest();
					xhr.open('GET', '../../../sets/exit_set/' + '{{ set.id }}' + '/' );
					xhr.send(null);

					xhr.addEventListener('readystatechange', function()
					{ // On gère ici une requête asynchrone
				        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) 
			            { // Si le fichier est chargé sans erreur
				        	console.log(xhr.response);
	        				if ( xhr.response == 'delete_done_and_set_delete_done' ) 
				        	{
				        		window.location.href = "../../user/home/";
				        	}
				        	else if (  xhr.response == 'delete_done' ) 
				        	{
					        	id_target = sortir_set_{{user_set.id}}.parentElement.parentElement.parentElement.parentElement.parentElement.parentElement;
					        	id_target.remove()
					        	console.log(xhr.response);
				        	}
				        }
					});
			    }, false);

			</script>